@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fc-neutral-bg-color: #a5b4fc;
    --fc-page-bg-color: #a5b4fc;
    --fc-neutral-text-color: grey;
    --fc-border-color: #ddd;
    --fc-button-text-color: #db2777;
    --fc-button-bg-color: #fde047;
    --fc-button-border-color: #db2777;
    --fc-button-hover-bg-color: #facc15;
    --fc-button-hover-border-color: #ec4899;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: yellow;
    --fc-list-event-dot-width: 10px;
    --fc-list-event-hover-bg-color: #dbeafe;
}

.fc-list-event {
    cursor: pointer;
}

form input, form textarea {
    @apply font-lato text-blue-900;
}

form:invalid button {
    @apply cursor-default select-none border-gray-500 bg-gray-300 text-gray-400;
}

form:valid button {
    @apply rounded-md border hover:brightness-110 active:scale-95 border-purple-600 bg-purple-500 px-4 py-2 text-white transition-all;
}

input:not(:placeholder-shown):invalid {
    @apply border-2 border-red-600;
}

div.animate {
    animation: fadeIn 0.2s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


a, button {
    -webkit-tap-highlight-color: transparent;
}

body {
        @apply relative flex flex-col bg-yellow-100 ;
        min-height: 100dvh;
    }
@layer base {
    

    div[class*="you__tube"] > img {

        @apply rounded-lg !important;
    }

    div[class*="you__tube"] {
        /* box-shadow: 8px 8px 0 #e9a123; */
        @apply rounded-lg shadow-lg !important;
    }

    div[class*="v__title"] {
        @apply bg-black bg-opacity-60 xs:text-xl py-3 !important;
    }

    .fc-list-day {
        @apply bg-red-400 text-wn-lavender;
    }

    .text-shadow {
        text-shadow: 1px 1px 0px black;
        font-weight: 800;
    }
}
@layer components {
    

    
}

@layer utilities {
    .shadow-no-blur {
        border: solid 8px;
        @apply border-pink-500;
        box-shadow: 8px 8px 0 black;
    }

    iframe, video {
        @apply h-full w-full rounded-lg shadow-2xl !important;
        /* border-width: 8px; */
        width: 100%;
        height: 100%;
        min-width: max-content;
        min-height: max-content;
    }
    
    
}