@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fc-neutral-bg-color: #a5b4fc;
    --fc-page-bg-color: #a5b4fc;
    --fc-neutral-text-color: grey;
    --fc-border-color: #ddd;
    --fc-button-text-color: #db2777;
    --fc-button-bg-color: #fde047;
    --fc-button-border-color: #db2777;
    --fc-button-hover-bg-color: #facc15;
    --fc-button-hover-border-color: #ec4899;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: yellow;
    --fc-list-event-dot-width: 10px;
    --fc-list-event-hover-bg-color: #dbeafe;
}

.fc-list-event {
    cursor: pointer;
}

form input, form textarea {
    @apply font-lato text-blue-900;
}

form:invalid button {
    @apply cursor-default select-none border-gray-500 bg-gray-300 text-gray-400;
}

form:valid button {
    @apply rounded-md border hover:brightness-110 active:scale-95 border-purple-600 bg-purple-500 px-4 py-2 text-white transition-all;
}

input:not(:placeholder-shown):invalid {
    @apply border-2 border-red-600;
}

@layer base {
    body {
        @apply flex flex-col bg-yellow-100;
        min-height: 100dvh;
    }

    div[class*="you__tube"] > img {
        @apply rounded-md !important;
    }

    .fc-list-day {
        @apply bg-red-400;
    }
}
@layer components {
    

    iframe {
        @apply rounded-md flex-grow flex-shrink-0 !important;
    }
}